/Snake_DKiriljuk/nbproject/private/
/JavaFXSwingApplication2/nbproject/private/
/JavaFXSwingApplication2/build/
/JavaFXSwingApplication2/dist/
/Snake_V1.1_DKiriljuk/nbproject/private/
/Snake_V1.1_DKiriljuk/dist/
/Snake_V1.1_DKiriljuk/build/
/Snake_Dkiriljuk/nbproject/private/
/Snake_Dkiriljuk/dist/
/Snake_Dkiriljuk/build/